<div class="centered">

<h2>Create a new listing</h2>
<h3><small>Create a searchable listing that'll allow charities to find the services you're volunteering.</small></h3>

  <%= form_for @listing do |f| %>

    <% if @listing.errors.any? %>
      <div class="alert danger">
        <h4>Whoops, you've got <%= pluralize(@listing.errors.count, "error") %> to fix up</h4>
        <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :title, "Title (required)" %><br>
      <%= f.text_field :title, :placeholder => "e.g. Web development, photography, legal advice" %>
    </p>

    <p>
      <%= f.label :description, "Description (required)" %><br>
      <%= f.text_area :description, :placeholder => "A detailed description of what you're offering" %>
    </p>

    <p>
      <%= f.label :website, "Your website (optional)" %><br>
      <%= f.text_field :website, :placeholder => "A website which shows more about what you do" %>
    </p>

    <p>
      <%= f.label :is_remote, "Can you provide this service remotely? (over email, Skype, etc)" %><br>
      <%= f.radio_button :is_remote, true %>
      <%= f.label :is_remote_yes, "Yes" %>&nbsp;&nbsp;
      <%= f.radio_button :is_remote, false %>
      <%= f.label :is_remote_no, "No" %>
    </p>

    <div id="address-section">
      <p>
        <%= f.label :town, "Town" %><br>
        <%= f.text_field :town, :placeholder => "Your town" %>
      </p>

      <p>
        <%= f.label :county, "County" %><br>
        <%= render partial: "county_selector" %>
      </p>

      <p>
        <%= f.label :postcode, "Postcode (optional)" %><br>
        <%= f.text_field :postcode, :placeholder => "Your postcode" %>
      </p>
    </div>
   
    <p>
      <%= f.submit "#{@listing.new_record? ? "Create" : "Update"} listing" %>
    </p>
  <% end %>
</div>

<script>
$(document).ready(function() {
  showHideAddressFields();

  $("input[name$='listing[is_remote]']").click(function() {
    showHideAddressFields();
  });

});

function showHideAddressFields() {
  // By default, hide the address field
  var selectedValue = "true";

  if($("input[name$='listing[is_remote]']").is(':checked')) {
    selectedValue = $("input[name$='listing[is_remote]']:checked").val();
  }

  if (selectedValue == "true") {
    $("#address-section").slideUp(); 
  } else {
    $("#address-section").slideDown(); 
  }
}
</script>
