<div class="centered">

<h2>Volunteer signup</h2>
<h3><small>We need some basic info from you, then you'll be good to go.</small></h3>

  <%= form_for :volunteer, url: volunteer_index_path  do |f| %>

    <% if @volunteer.errors.any? %>
      <div class="alert danger">
        <h4>Whoops, you've got <%= pluralize(@volunteer.errors.count, "error") %> to fix up</h4>
        <ul>
        <% @volunteer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :firstname %><%= render partial: "shared/required_field" %><br>
      <%= f.text_field :firstname %>
    </p>

    <p>
      <%= f.label :surname %><%= render partial: "shared/required_field" %><br>
      <%= f.text_field :surname %>
    </p>

    <p>
      <%= f.label :email %><%= render partial: "shared/required_field" %><br>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password %><%= render partial: "shared/required_field" %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %><%= render partial: "shared/required_field" %><br>
      <%= f.password_field :password_confirmation %>
    </p>

    <p>
      <%= f.label :username, "Username (no spaces or special characters)" %><%= render partial: "shared/required_field" %><br>
      <%= f.text_field :username %>
    </p>
   
    <p>
      <%= f.submit "Create account" %>
    </p>
  <% end %>
</div>
