<h2>Your listings</h2>

<% if @volunteer.listings.any? %>
  <table style="width:100%;">
    <tr>
      <th style="width: 20%;"><b>Title</b></th>
      <th><b>Description</b></th>
      <th style="width: 180px;"></th>
    </tr>
    <% @volunteer.listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td>
          <%= form_for :listing, :url => edit_listing_path(listing.id), :html => {:method => :get, :class => "action-button"} do |f| %>
            <%= f.submit "Edit" %>
          <% end %>
          <%= form_for :listing, :url => listing_path(listing.id), :html => {:method => :delete, :class => "action-button"} do |f| %>
            <%= f.submit "Delete", data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No active listings, why not <a href="/listings/new">create one now?</a></p>
<% end %>

<hr />
<h2>Your account details</h2>
<p>
  Name: <%= "#{@volunteer.firstname} #{@volunteer.surname}" %><br />
  Username: <%= @volunteer.username %><br />
  Email: <%= @volunteer.email %>
</p>
