<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  dir="ltr" lang="en-US"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Pledgebench</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
    <!--[if IE 7]><link href="css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" media="screen" /><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>

<body class="index" data-no-turbolink>

    <div class="wrapper clearfix">
      
      <header id="main" class="full_width">
        <h1 class="logo">
          <a href="/">
            Pledge<span>bench.</span> <small>Donate your time.</small>
          </a>
        </h1>
        
        <!--MARKUP FOR ALTERNATIVE NAVIGATION STYLE-->
        <!--
        <ul id="standard" class="clearfix">
          <li>
            <a href="index.html" class="active">Homepage<i class="icon-home"></i></a>
          </li>
          <li>
            <a href="portfolio.html">Portfolio<i class="icon-th"></i></a>
            <ul>
              <li>
                <a href="portfolio.html">Default</a>
              </li>
              <li>
                <a href="portfolio-alt.html">Alternative</a>
              </li>
              <li>
                <a href="single-portfolio.html">Single Post</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="blog.html">Blog<i class="icon-file"></i></a>
            <ul>
              <li>
                <a href="blog.html">Default</a>
              </li>
              <li>
                <a href="blog-alt.html">Alternative</a>
              </li>
              <li>
                <a href="blog-sidebar.html">Blog W/Sidebar</a>
              </li>
              <li>
                <a href="single.html">Single Post</a>
              </li>
              
              <li>
                <a href="single-sidebar.html">Single W/Sidebar</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="team.html">Team<i class="icon-user"></i></a>
            <ul>
              <li>
                <a href="team.html">Default</a>
              </li>
              <li>
                <a href="team-alt.html">Alternative</a>
              </li>
              <li>
                <a href="single-team.html">Single Member</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="elements.html">Elements<i class="icon-cogs"></i></a>
          </li>
          <li>
            <a href="contact.html">Contact<i class="icon-map-marker"></i></a>
          </li>
        </ul>
        -->
        <!--END ALTERNATE NAVIGATION MARKUP-->
        
        <nav id="main_nav">
          <a id="nav-button" href="#"><i class="icon-reorder"></i></a>
          <ul>
            <li>
              <a href="/" class="active">Homepage<i class="icon-home"></i></a>
            </li>
            <li>
              <a href="/login">Login<i class="icon-cogs"></i></a>
            </li>
            <li>
              <a href="/logout">Logout<i class="icon-map-marker"></i></a>
            </li>
          </ul>
        </nav>

        <span style="float:right;padding-right:10px;"><%= "#{current_user.firstname} #{current_user.surname}" if current_user %></span>
      </header>
      
      <section class="content clearfix">
        <div class="content">
          <%= yield %>
        </div>
      </section>

      <footer id="footer-sub" class="clearfix">
      
        <div class="one_third">
          <p>© 2013 <a href="http://aaronrandall.com">Aaron Randall</a>.</p>
        </div>
        
        <div class="two_third last">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      
      </footer>
      
    </div>
</body>
</html>
